<div class="auth-container">
    <div class="form-container login-container">
      <h2>Login</h2>
      <form (ngSubmit)="Login()">
        <div class="input-box">
          <input type="email" [(ngModel)]="email" name="email" required placeholder=" ">
          <label>Email</label>
        </div>
        <div class="input-box">
          <input type="password" [(ngModel)]="password" name="password" required placeholder=" ">
          <label>Password</label>
        </div>
        <button type="submit" class="login-btn">Login</button>
      </form>
      <p *ngIf="message">{{ message }}</p>
  
    </div>
  
    <div class="form-container signup-container">
      <h2>Sign Up</h2>
      <form (ngSubmit)="registerUser()">
        <div class="input-box">
          <input type="text" [(ngModel)]="usernameSignUp" name="username" required placeholder=" ">
          <label>Username</label>
        </div>
        <div class="input-box">
          <input type="email" [(ngModel)]="emailSignUp" name="emailSignUp" required placeholder=" ">
          <label>Email</label>
        </div>
        <div class="input-box">
          <input type="password" [(ngModel)]="passwordSignUp" name="passwordSignUp" required placeholder=" ">
          <label>Password</label>
        </div>
        <button type="submit" class="login-btn">Sign Up</button>
      </form>
      <p *ngIf="messageSignUp">{{ messageSignUp }}</p>
    </div>
  </div>
  